body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: green;
    text-align: center;
    color: white;
    font-weight: bold;
}
h1{
    color:goldenrod;
}
#message-el{
    font-style:  italic;
}
button{
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding: 5px;
    font-weight: bold;
    border: none;
    margin-bottom: 4px;
}